.sec-1{
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec-1 p{

    font-family: 'Kanit', sans-serif;
    font-family: 'Luxurious Roman', sans-serif;
    font-size: 2rem;

}


.parasec-1{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}